 <div class="modal" id='showEventModal' tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span id="show-event-title"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div><strong>Id:</strong> <span id='show-event-id'></span></div>
        <div><strong>Description: </strong> <span id='show-event-description'></span></div>
        <div><strong>Date: </strong><span id='show-event-date'></span></div>
        <div><strong>Location: </strong><span id='show-event-location'></span></div>
        <div><strong>Organizer: </strong><span id='show-event-organizer'></span></div>
      </div>
    </div>
  </div>
</div>
